#This system runs off of OpenAI models, but in testing I like to have all keys added so I can easily switch between different models.
#You will need Langsmith key, set tracing to true, set project to your project name (this must match Langsmith Tracing project folder online).

OPENAI_API_KEY=add
ANTHROPIC_API_KEY=add
GOOGLE_API_KEY=add

LANGSMITH_API_KEY=add
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=Multi_Agent_System_Base_Template_Data_Analyst_Enterprise_Build

# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
